<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/header') %>
    <title>Nuevo Usuario</title>
</head>

<body>

  <%- include('../partials/navigation') %>
    <div class="container p-4">

      <div class="card border-secondary">
        <div class="card-header">Nuevo Registro</div>
        <div class="card-body bg-dark text-light">

          <form method="POST" action="/createUsuario" >

            <div class="mb-3">
              <label for="title">Nombre</label>
              <input name="nombre" type="text" class="form-control rounded-0" placeholder="Nombre" autofocus
                required>
            </div>

            <div class="mb-3">
              <label for="title">Apellido</label>
              <input name="apellido" type="text" class="form-control rounded-0" placeholder="Apellido" autofocus
                required>
            </div>

            <div class="mb-3">
              <label for="title">Email</label>
              <input name="email" type="text" class="form-control rounded-0" placeholder="Email" autofocus
                required>
            </div>

            <div class="mb-3">
              <label for="password">Write your password:</label>
              <input type="password" name="password" placeholder="Password" class="form-control rounded-0" />
            </div>
            
            <button type="submit" class="btn btn-primary" tabindex="5">Guardar</button>
            <a href="/usuarioTable" class="btn btn-secondary">Cancelar</a>
          </form>
        </div>
      </div>
    </div>
    </div>

    <%- include('../partials/footer')%>
</body>

</html>