<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/header') %>
    <title>Table</title>
</head>

<body>

  <%- include('partials/navigation') %>
  <div class="container p-4">
    <div class="row">
        <div class="col-md-3 p-2">
          <div class="card text-center bg-dark text-light h-100">
            <div class="card-body">
              <a href="pp" target="_blank" class="text-light">
                <h3 class="card-title text-uppercase">
                  ppppp
                </h3>
              </a>
              <p class="m-2">{{description}}</p>
              <p class="text-muted">
                5
              </p>
              
            </div>
          </div>
        </div>

    </div>
  </div>

    <%- include('partials/footer')%>
</body>

</html>