.filters-container {
    margin: 20px auto;
    margin-bottom: 20px;
    width: 90%;
  }
  .form-group {
    margin-bottom: 15px;
  }
  .row {
    margin-left: 0;
    margin-right: 0;
  }
  .col-md-6 {
    padding-left: 0;
    padding-right: 0;
  }