<div class="sidebar">
    <div class="top">
        <div class="logo">
            <i class="bx bxl-codepen"></i>
            <span>Coepen</span>
        </div>
        <i class="bx bx-menu" id="btn"></i>
    </div>
    <div class="user">
        <div>
            <p class ="bold">Welcome</p>
            <p>Admin</p>
        </div>
    </div>
    <ul>
        <li>
            <a href="#">
                <i class="bx bx-grid"></i>
                
            </a>
        </li>
    </ul>
</div>

<script>
    let btn = document.querySelector('#btn');
    let sidebar = document.querySelector('.sidebar');
    btn.onClick = function() {
    sidebar.classList.toogle('active');
    }

</script>